body {
    background-color:hsl(212, 45%, 89%);
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: calc(1.25rem + 0.390625vw);
    padding: 0 7%;
}

p {
   color:hsl(220, 15%, 55%);
   font-family: 'Outfit', sans-serif;
   font-weight: 400;
   font-size: calc(0.9375rem + 0.390625vw);
   padding: 0 10%;
}

.qrCode {
    border-radius: 15px;
    max-height:100%;
    max-width:100%;
    margin: 5% auto 0 auto;
    width:90%;
 }


.card {
    background-color: white;
    border-radius: 15px; 
    text-align: center;
    width: 18.75rem;
    margin: 5rem auto; 
}

.container{
    padding: 0 3%;
}

@media screen and (max-width:375px){
    .card {
        width:80%;
          }
    
    h1 {
        font-size: 1.25rem;
    }

    p  {
        font-size: 0.9375rem;
    }
    }
